In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
tabela_vida = pd.read_csv("life_expectancy.csv")

## Optei por formatar o nome das colunas para facilitar na hora de chamar como objetos
tabela_vida.columns = ["index","Country","Country_code","Year", "Female_LE","Male_LE","Population","LE_gap"]

## Trabalhar com a população em milhões pode melhorar a apresentação dos dados e dos gráficos

tabela_vida["Population_million"] = tabela_vida.Population / 1000000

tabela_vida= tabela_vida.drop(["index","Country_code"], axis = "columns")

# tabela_vida.Country.unique()

In [72]:
pais_escolhido = str(input("Qual país você quer ver a análise?"))

mapeamento_pais = tabela_vida.loc[tabela_vida.Country.str.upper() == pais_escolhido.upper()]

# mapeamento_pais
plt.style.use("ggplot")
plt.plot(mapeamento_pais.Year, mapeamento_pais.Female_LE, color ="orange")
plt.plot(mapeamento_pais.Year, mapeamento_pais.Male_LE, color = "blue")
plt.ylabel("Expectativa de vida")
plt.title(f"Expectativa de vida por ano em {pais_escolhido.capitalize()}")

,Country,Year,Female_LE,Male_LE,Population,LE_gap,Population_million
2019,Brazil,1950,51.0,45.5,53955360.0,-5.5,53.955360
2020,Brazil,1951,51.3,45.9,55591060.0,-5.4,55.591060
2021,Brazil,1952,51.7,46.3,57283340.0,-5.4,57.283340
2022,Brazil,1953,51.9,46.8,59025680.0,-5.1,59.025680
2023,Brazil,1954,52.4,47.3,60827596.0,-5.1,60.827596
...,...,...,...,...,...,...,...
2086,Brazil,2017,78.0,71.6,208504960.0,-6.4,208.504960
2087,Brazil,2018,78.3,72.0,210166600.0,-6.3,210.166600
2088,Brazil,2019,78.5,72.2,211782880.0,-6.3,211.782880
2089,Brazil,2020,77.4,70.7,213196300.0,-6.7,213.196300
2090,Brazil,2021,76.0,69.6,214326220.0,-6.4,214.326220

In [86]:

## No mundo

tabela_vida.groupby(["Year","Country"]).agg(['mean','max','min'])

                       Female_LE             Male_LE              Population  \
                            mean   max   min    mean   max   min        mean
Year Country
1950 Afghanistan            28.4  28.4  28.4    27.1  27.1  27.1   7480464.0
     Albania                48.7  48.7  48.7    41.3  41.3  41.3   1252587.0
     Algeria                43.2  43.2  43.2    41.7  41.7  41.7   9019866.0
     American Samoa         62.9  62.9  62.9    59.2  59.2  59.2     19057.0
     Andorra                67.1  67.1  67.1    62.0  62.0  62.0      6028.0
...                          ...   ...   ...     ...   ...   ...         ...
2021 Vietnam                78.2  78.2  78.2    69.1  69.1  69.1  97468024.0
     Wallis and Futuna      79.9  79.9  79.9    77.1  77.1  77.1     11654.0
     Yemen                  67.1  67.1  67.1    60.6  60.6  60.6  32981644.0
     Zambia                 63.9  63.9  63.9    58.5  58.5  58.5  19473132.0
     Zimbabwe               62.0  62.0  62.0    56.2  56.2  56.2  15993525.0

                                               LE_gap            \
                               max         min   mean  max  min
Year Country
1950 Afghanistan         7480464.0   7480464.0   -1.3 -1.3 -1.3
     Albania             1252587.0   1252587.0   -7.4 -7.4 -7.4
     Algeria             9019866.0   9019866.0   -1.5 -1.5 -1.5
     American Samoa        19057.0     19057.0   -3.7 -3.7 -3.7
     Andorra                6028.0      6028.0   -5.1 -5.1 -5.1
...                            ...         ...    ...  ...  ...
2021 Vietnam            97468024.0  97468024.0   -9.1 -9.1 -9.1
     Wallis and Futuna     11654.0     11654.0   -2.8 -2.8 -2.8
     Yemen              32981644.0  32981644.0   -6.5 -6.5 -6.5
     Zambia             19473132.0  19473132.0   -5.4 -5.4 -5.4
     Zimbabwe           15993525.0  15993525.0   -5.8 -5.8 -5.8

                       Population_million
                                     mean        max        min
Year Country
1950 Afghanistan                 7.480464   7.480464   7.480464
     Albania                     1.252587   1.252587   1.252587
     Algeria                     9.019866   9.019866   9.019866
     American Samoa              0.019057   0.019057   0.019057
     Andorra                     0.006028   0.006028   0.006028
...                                   ...        ...        ...
2021 Vietnam                    97.468024  97.468024  97.468024
     Wallis and Futuna           0.011654   0.011654   0.011654
     Yemen                      32.981644  32.981644  32.981644
     Zambia                     19.473132  19.473132  19.473132
     Zimbabwe                   15.993525  15.993525  15.993525

[17003 rows x 15 columns]